---
import Layout from "../layouts/Layout.astro";
import Pagination from "../components/Pagination.astro";
import PostListItem from "../components/PostListItem.astro";
import Sidebar from "../components/Sidebar.astro";
import Search from "../components/Search.astro";
import type { ShortPageData } from "../shared/type";
import { getReadingTime } from "../shared/reading-time";

interface Props {
  posts: ShortPageData[];
  page: number;
  pages: number;
}

const { posts, page, pages } = Astro.props;
---

<script>
  import { mount } from "../components/RelativeTime";
  mount("data-acc-time");
</script>

<Layout title="Welcome to lovexl's blog">
  <div class="w-full h-60 bg-gray-50 flex flex-col items-center justify-center gap-4">
    <h1 class="font-bold text-4xl text-gray-900">lovexl's blog</h1>
    <p class="text-gray-600 text-lg">Thoughts, memories and shares.</p>
    <div class="w-full max-w-xl px-4 mt-4">
      <Search />
    </div>
  </div>

  <main class="w-full py-8 bg-gray-50">
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex flex-row-reverse gap-16 <lg:flex-col">
        <div class="w-80 shrink-0 <lg:w-full">
          <div class="sticky top-8">
            <Sidebar posts={posts} />
          </div>
        </div>
        <div class="flex-1">
          {posts.map((post) => <PostListItem post={post} />)}
          <Pagination page={page} pages={pages} />
        </div>
      </div>
    </div>
  </main>
</Layout>
